*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
i{
  font-size: 60px;
  align-items: baseline;

}
body{
  color: white;
  background-color: grey;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  font-family: rosario;
  font-family: sans-serif;
}
p{
  color: black;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  font-family: rosario;
  font-family: sans-serif;
}
h1{
  font-size: 40px;
  font-family: sans-serif;
  font-style: normal;
  color: white;
  text-align: center;
  padding: 30px 0px 0px;
  padding-top: 30px;

}
ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: space-around;
}

img.skins{
  width: 14%
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
.shadow{
  background-color: #333;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
#myCarousel img{
  width: 100%;
}
#myCarousel{
  width: 900px;
  margin: auto;
  margin-top: 20px;
}
.form{
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  width: 600px;
  display: block;
  text-align: center;
}
img.armas{
  width: 15%;
}

.armas{
  text-align: center;
}
.clips{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.battlepass{
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.itemshop{
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer{
  background-color: #333;
}

footer i{
  color: white;
  font-size: 20px;
  text-align: center;
  margin-top: 5px;

}
.icons{
  /* display: inline-block;
      margin-left: 50%;
  font-size: */
}
.footerText{
  font-size: 25px;
  font-family: sans-serif;
  color: white;
  weight: bold;
}
.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 75%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.active, .collapsible:hover {
    background-color: #555;
}

.content {
    /* padding: 0 18px; */
    display: none;
    overflow: hidden;
    background-color: grey;
    /* width: 75%; */
}
.content img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
hr{
  border-top: 2px solid #eee !important;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

body {
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	font-weight:300;
	font-size: 12px;
	line-height:30px;
	color:#777;
	/* background:#0CF; */
}

.container2 {
	max-width:400px;
	width:100%;
	margin:0 auto;
	position:relative;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	background:#F9F9F9;
	padding:25px;
	margin:50px 0;
}

#contact h3 {
	color: #F96;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#0CF;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="reset"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#0CF;
	color:#FFF;
	margin:0 0 5px;
	/* padding:10px; */
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="reset"]:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact button[type="reset"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}
