
.main_img_align{
  text-align: center;
  background-color: white;
  padding: 26px 0;
}

body { background-color: #8e8e8e;
   font-family: 'Markazi Text', serif ;
   margin: 0px;
}
h1 {
  color: #FFFFFF;
 font-style: ;
 text-align: center;
 background-color: #373737;
 margin: 0px;
 font-size: 50px
}
ul { color: black;
margin-left: 40px;
font-size: 20px;
text-align: justify;}

p { color: black;
text-align: justify;
font-size: 20px;
line-height: 23px;
padding: 0 25px;
}
h2 { font-family: 'Source Sans Pro', sans-serif;
font-weight: normal;
margin: 0px;
background-color: #8e8e8e ;
display: inline-block;
margin: 60px;
color: #FFFFFF;
}

title{
  color:  #FFFFFF;
}
.nav h2{
  display: inline-block;
  margin: 60px;
}
.nav a{
  color: #FFFFFF;
}
h3 { color: #FFFFFF;
  padding: 0 25px;
}
.hi h1{
  font-size: 30px;
  }
.hi{
  text-align: center;
  /* margin: 30px; */
}
.iframe{
  margin-top: 30px;
}
a{text-decoration: none;
color: white;}
h4{
  color: #FFFFFF;
  padding: 0 25px;
}
form{
padding: 25px;
}
.mapa{
  padding: 25px;
}
img.mapa {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.min{
  padding: 25px;
}
img.min {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.mySlides{
  width: 500px;
  height: 350px;
  margin: 0 auto;
  border: 10px inset white;
}
.fix{
  text-align: center;
}
form{
  text-align: justify;
}
.footer{
position: base;
left: 0;
bottom: 0;
width: 100%;
background-color: darkgrey;
color: black;
text-align: center;
list-style: none;
  }
  .lol{
    list-style: none;
  }
  .ilol{

    width: 2%;
  }
</style>
